@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: #333;
}

body {
    font-family: "Pretendard Variable", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

/* menu */
#menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
}

#menu li {
	width: 20%;
	text-align: center;
}

#menu li a {
	    font-family: "Pretendard Variable", sans-serif;
	font-weight: bold;
	display: inline-block;
	margin: 20px 0;
	font-size: 20px;
	position: relative;
}

#menu li a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #747474;
	transform-origin: left;
	transform: scaleX(0);
	transition: 0.7s;
}

#menu li a:hover::before,
#menu li.active a::before {
	transform: scaleX(1);
}

.main_video {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

#section1 {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

/* text */
h1 {
	font-size: 40px;
	line-height: 50px;
	padding-bottom: 1.5em;
    font-family: "Pretendard Variable", sans-serif;
	font-weight: 600;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2 {
	font-size: 25px;
	line-height: 35px;
	padding-bottom: 1em;
}

h3 {
	font-size: 20px;
	line-height: 30px;
	padding-bottom: 0.5em;
}

h6 {
	font-size: 12px;
	line-height: 22px;
	padding-bottom: 0.3em;
}

/* section box */
.section {
	overflow: hidden;
}

/* inner box */
.inner {
	width: 1000px;
	margin: auto;
}

/* 1 */
#section1 {
	background-color: #e4e4e4;
	text-align: center;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro p {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	    font-family: "Pretendard Variable", sans-serif;
}

/* 2 */
#section2 {
	background: linear-gradient(to bottom, #171717 0%, #fff 55%);
}

.fp-controlArrow.fp-prev {
	left: calc(50% - 600px);
	top: calc(50% - -50px);
}

.fp-controlArrow.fp-next {
	right: calc(50% - 600px);
	top: calc(50% - -50px);
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px 0;
}

.portfolio li {
	width: 32%;
	text-align: center;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	transition: 0.7s;
	overflow: hidden;
}

.portfolio li:hover {
	background-color: rgba(255, 255, 255, 0.5);
	transform: translateY(-10px);
}

.portfolio img {
	width: 100%;
}

.portfolio h3 {
	    font-family: "Pretendard Variable", sans-serif;
		font-weight: 400;
}

#section2 .portfolio img {
	width: 100%;
	/* 부모 박스에 맞게 꽉 채움 */
	height: auto;
	display: block;
}


/* 3 */
#section3 {
	background: linear-gradient(to bottom, #fff 0%, #F0FFF4 55%);
}

.art {
	display: flex;
	justify-content: space-between;
}

.art li {
	width: 30%;
	transition: 0.7s;
}

.art li:hover {
	transform: translateY(-10px);
}

.art li img {
	display: block;
	width: 100%;
	cursor: pointer;
}

/* 4 */
#section4 {
	background: #F0FFF4;
}

#section4 .fp-tableCell {
	display: block;
}

#section4 .inner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.my {
	width: 50%;
	height: 100%;
	object-fit: cover;
}

.about {
	width: 50%;
	text-align: center;
}



#section4 .inner {
	display: flex;
	align-items: center;
	gap: 30px;
	/* 이미지와 텍스트 사이 간격 */
	padding: 0 5%;
	/* 화면 양쪽 여백 추가 */
	box-sizing: border-box;
}

/* 이미지 영역: 3/1 -> 20% 축소 */
#section4 .my {
	width: 40%;
	/* 기존 40%에서 20% 줄임 */
	max-width: 400px;
	object-fit: cover;
	padding-left: 300px;
}

/* About Me 영역: 3/2 */
#section4 .about {
	width: 60%;
	/* 이미지 축소했으므로 나머지 68% */
	text-align: left;
	padding: 0 100px;
	/* About Me 내부 여백 */
	box-sizing: border-box;
}

#section4 .my {
	width: 30%;
	/* 원하는 비율 */
	margin: 0 auto;
	height: auto;
	object-fit: cover;
	/* 비율 유지하며 잘림 방지 */
}



/* 5 */
#section5 {
	background: linear-gradient(to bottom, #F0FFF4 0%, #ffffff 70%);
}

#section5 .inner h1:nth-of-type(2) {
	padding-top: 2em;
}

.resume {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.resume li {
	width: 31%;
	background-color: #fff;
	padding: 3em;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	box-sizing: border-box;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	background-color: #fff;
	padding: 3em;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.skills img {
	width: 10%;
	max-width: 80px;
	/* 원하는 최대 크기 */
	height: auto;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px 20px;
	/* 아이콘 사이 간격 */
}


/* 6 */
#section6 {
	background-color: #fff;
	text-align: center;
}

.myContent {
	height: 100px;
	position: relative;
}

.myContent p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* popup */
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: none;
}

.popup>p {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 35px;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
}

.popup>div {
	width: 80%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	max-width: 800px;
}

.popup img {
	width: 60%;
	display: block;
}

.popup ul {
	margin: 0;
	padding: 30px;
	width: 40%;
	box-sizing: border-box;
	background-color: #fff;
	color: #222;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup h5 {
	font-size: 20px;
	padding-bottom: 10px;
	color: #222;
	font-weight: bold;
}

/* animation */
@keyframes left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes bottom {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.fp-viewing-anchor2-0 .portfolio,
.fp-viewing-anchor2-1 .portfolio,
.fp-viewing-anchor3 .art,
.fp-viewing-anchor5 .resume,
.fp-viewing-anchor5 .skills {
	animation: bottom 1s 0.3s both;
}

.fp-viewing-anchor1 .intro .intro_text {
	animation: right 1s 0.6s both;
}

.fp-viewing-anchor4 #section4 img {
	animation: left 1s 0.3s both;
}


.fp-viewing-anchor1 #menu {
	background-color: rgba(255, 255, 255, 0);
}

.fp-viewing-anchor1 #menu li a {
	color: #f0f0f0;
}




.fp-viewing-anchor4 #section4 .about {
	animation: right 1s 0.6s both;
}

/* 1300px 이하 */
@media (max-width:1300px) {
	.fp-controlArrow.fp-prev {
		border-width: 20px 18px 20px 0;
		left: calc(50% - 490px);
		top: calc(50% - -80px);
		border-color: transparent #747474 transparent transparent;
	}

	.fp-controlArrow.fp-next {
		border-width: 20px 0 20px 18px;
		right: calc(50% - 490px);
		top: calc(50% - -80px);
		border-color: transparent transparent transparent #747474;
	}
}

/* 1100px 이하 */
@media (max-width:1100px) {
	.inner {
		width: 90%;
	}

	#section1 {
		height: 100vh !important;
	}

	#section2,
	#section3,
	#section4 #section5,
	.fp-tableCell {
		height: auto !important;
	}

	#section1,
	#section2,
	#section3,
	#section4,
	#section5 {
		padding: 5em 0;
	}

	.fp-tableCell {
		padding-bottom: 10px;
	}

	.fp-controlArrow.fp-prev {
		left: 7%;
		top: 62%;
		border-color: transparent #747474 transparent transparent;
	}

	.fp-controlArrow.fp-next {
		right: 7%;
		top: 62%;
		border-color: transparent transparent transparent #747474;
	}

}

/* 899px 이하 */
@media (max-width:899px) {
	#menu li {
		width: 25%;
	}

	.intro h1 {
		padding: 1em 0 1em;
	}

	.portfolio li {
		width: 48%;
	}

	.portfolio_text,
	.about_text {
		width: 100%;
	}

	.fp-controlArrow.fp-prev,
	.fp-controlArrow.fp-next {
		top: 60%;
	}

	.resume {
		gap: 20px 0;
	}

	.resume li {
		width: 49%;
	}

	.skills img {
		width: 10%;
	}
}

/* 749px 이하 */
@media (max-width:749px) {
	.art {
		flex-direction: column;
		gap: 20px;
	}

	.art li {
		width: 100%;
	}

	.art li img {
		width: 100%;
	}

	.popup div {
		display: block;
	}

	.popup img,
	.popup ul {
		width: 100%;
	}

	.popup ul li:nth-child(1) {
		padding-bottom: 10px;
	}

	#section4 .inner {
		flex-direction: column;
		gap: 30px 0;
	}

	.my {
		width: 70%;
	}

	.skills {
		padding: 2em;
		justify-content: flex-start;
		gap: 10px calc(10% / 5);
	}

	.skills img {
		width: 15%;
	}
}

/* 599px 이하 */
@media (max-width:599px) {
	#menu {
		display: none;
	}

	.resume li {
		width: 100%;
	}

	.skills {
		gap: 10px calc(10% / 4);
	}

	.skills img {
		width: 18%;
	}

}

/* 499px 이하 */
@media (max-width:499px) {
	.skills {
		gap: 10px calc(10% / 2);
	}

	.skills img {
		width: 30%;
	}
}


/* 374px 이하 */
@media (max-width: 374px) {
	.popup ul {
		padding: 20px;
	}
}

.fp-viewing-anchor2-0 #menu li a,
.fp-viewing-anchor2-1 #menu li a {
	color: #fff !important;
}

.fp-viewing-anchor2-0 #menu li a::before,
.fp-viewing-anchor2-1 #menu li a::before {
	background-color: #fff !important;
}

.fp-viewing-anchor2-0 #section2 h1,
.fp-viewing-anchor2-1 #section2 h1 {
	color: #F0FFF4 !important;
}

.fp-viewing-anchor2-0 #menu,
.fp-viewing-anchor2-1 #menu {
	background-color: rgba(255, 255, 255, 0) !important;
	backdrop-filter: none !important;
}

.fp-viewing-anchor1 #fp-nav ul li a span,
.fp-viewing-anchor1 .fp-slidesNav ul li a span,
.fp-viewing-anchor1 #fp-nav ul li .active span,
.fp-viewing-anchor1 .fp-slidesNav ul li .active span {
	background: #39FF14 !important;
}
.art_t{
	margin-top: 20px;
	text-align: center;
}

/* 39FF14 */

/* D1FFB4 */

